{{define "title"}}About{{end}}
{{define "main"}}
    <div>
        <div>
            <h2 >About Me</h2>
            <article>
                <img class="image-container rounded-image" src="../../static/img/us.png" alt="Jeremy and his family." width="283" height="378" >
                <p >Hey there -  I'm Jeremy Becker.  I'm a DevOps engineer who loves to speed up releases while maintaining quality and making developer's lives easier.  I've worked in various roles over my 8 year technology career spanning finance and quick service restaurants.</p>
                <h3 >Education and Experience</h3>
                <p>I have a Computer Science Degree from Purdue Fort Wayne with a focus in Software Engineering and I spend a lot of my free time writing code.  Some of my favorite languages are Golang, .NET, Java and Python. My ops background has also blessed me with lots of bash and PowerShell experience. I've used an ever-growing list of tools in my day to day work which includes Kubernetes, Helm, Flux, Splunk, Prometheus, Grafana, Ansible and so much more.</p>
                <h3 >Hobbies</h3>
                <p>I've got a couple of hobbies outside of tech: lifting weights, reading, spending time with loved ones and watching lots of different sports.  My most serious fandoms are the Minnesota Vikings and the Minnesota Timberwolves, but I also follow the Boston Bruins, Chicago Cubs and Purdue Boilermakers.</p>
                <h3 >Homelab</h3>
                <p >I also have a small homelab as a way to get my hands on technology that sounds interesting.  The server was given to me by a former employer and I've made good use of the humble machine.  Here's the quick specs: Dell PowerEdge T20, Intel Xeon E3-1225 v3 @ 3.20GHz, 32GB DDR3 and 480GB SSD.
                
                The server is constantly changing, but at the time of this writing it's a Fedora 41 box that's running a single node Kubernetes cluster.  I'm using <a >Tailscale Kubernetes Operator</a> to reach them from devices on my Tailnet.</p>
                <h3 >Wanna learn more?</h3>
                <p>If you want to learn more about my career accomplishments, please visit my <a >LinkedIn</a> profile.  Feel free to reach out and connect with me there if you like!  If you'd like to see some code I've written, check out my <a class="hover:underline hover:text-blue-600 text-blue-400" href="https://www.github.com/jmbecker"/>GitHub</a> profile instead.</p>
            </article>
        </div>
        <div>
            <h2 >About This Website</h2>
            <article>
                <p>The repository for this website can be found at <a href="https://github.com/jmbecker/beckerlabs" >this GitHub link.</a></p>
            </article>
        </div>
    </div>
{{end}}