{{define "title"}}Home{{end}}

{{define "main"}}
    <div>
        <div>
            <h2>Welcome to BeckerLabs.dev!</h2>
            <img src="/static/img/hex-code.png" alt="Hexagon with HTML style less than sign, slash, greater than sign." />
            <p>Hey there - my name is Jeremy Becker.  Welcome to my little corner of the internet, where I fiddle with any technology that I find fun and interesting.  That's mostly Golang recently, which drives this website.</p>
            <br>If you want more information about me, please visit the <a > about page.</a>
            <br>
            <br>
            Sometimes I also write blog posts or short thoughts.  If you want to read disjointed, poorly written thoughts, you can find those below.</p>
        </div>

        <div>
            {{ if .BlogPosts }}
            <h3>Recent Posts</h3>
            <div>
                <ul>
                    {{range .BlogPosts }}
                    <li><a href="/posts/{{.Slug}}">{{.Title}} : {{.Created}}</a></li>
                    {{end}}
                </ul>          
            </div>
            {{end}}
        </div>
    </div>
{{end}}
