{{define "base"}}
<!doctype html>
<html lang='en' class="h-screen w-screen">
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BeckerLabs</title>
        <link rel='stylesheet' href='/static/css/output.css'>
        <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    <body class="h-screen w-screen px-4 dark:bg-slate-800 dark:text-white font-mono">
        <header class="w-full">
            <div>{{template "nav" .}}</div>
            <!-- Add header content here -->
        </header>
        <main class="">
            {{template "main" .}}
        </main>
        <footer class="text-center sticky top-[100vh] p-10">
            This website is driven by <a class="hover:underline hover:text-blue-600 text-blue-400" href='https://golang.org/'>Go</a> in the year {{.CurrentYear}}.
        </footer>
        <script src='/static/js/main.js' type='text/javascript'></script>
    </body>
</html>
{{end}}
