/* Type selectors */
a {
    color: #51a2ff;
}

p {
    margin-right: 1rem;
}

main {
    flex: 1;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 54px;
    margin-bottom: 54px;
    overflow: auto;
    font-size: 18px;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    height: 30px; 
    text-align: center;
    width: 100%;
}

pre {
    background-color: black;
    color: lightgreen;
    font-size: 14px;
    padding-left: 10px;
}

code {
    background-color: black;
    color: lightgreen;
    font-size: 14px;
}

h2 {
    color: #6a7282
}

li {
    line-height: 1.5;
}

/* Group selectors */
html, body {
    height: 100%;
    margin: 0;
    background-color: #314158;
    color: white;
    font-family: "Ubuntu Mono", monospace;
}

/* Pseudo class selectors */
a:hover {
    color: #155dfc;
    text-decoration: underline;
}

/* Selector chain */
a.nav-text {
    text-decoration: none;
    font-size: 1.8rem;
    padding-left: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    line-height: 1.65;
}

/* Classes */
.rounded-image {
    border-radius: 7.5%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 400px;
}

.nav-justify-bottom {
    align-self: flex-end;
}

.live {
    color: white;
}

.nav-container img {
    width: 10%;
    height: 10%;
}

.image-container {
    float: right;
    margin-left: 20px;
}

.blog-post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
}

.content-columns {
    display: flex;
}

.posts-sidebar {
    flex: 1;
}

.blog-post {
    flex: 2;
}

.outline-sidebar {
    flex: 1;
}

.responsiveness {
    display: none;
}

/* Responsive Design */
@media only screen and (max-width: 1026px) {
    .posts-sidebar {
        display: none;
    }
    .posts-sidebar.visible {
        display: flex;
        max-width: 100%;
    }
    .outline-sidebar {
        display: none;
    }
    .outline-sidebar.visible {
        display: flex;
        max-width: 100%;
    }
    .blog-post {
        max-width: 100%;
    }
    .blog-post.hidden {
        display: none;
    }
    .responsiveness {
        display: flex;
        justify-content: space-between;
    }
    .nav-logo {
        min-height: 120px;
        min-width: 120px;
    }
    a.nav-text {
        text-decoration: none;
        font-size: 1.1rem;
        padding-left: 0.5rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .blog-post-content img {
        max-width: 75%;
    } 
}